<h1 class="left">Rooms
    <small class="pull-right">
        <a class="btn btn-lg" href="#rooms">
            <span class="glyphicon glyphicon-plus"></span>
        </a>
    </small>
</h1>
<ul class="nav nav-pills nav-stacked">
    <% for(i in rooms) { %>
        <li><a><%= rooms[i].name %></a></li>
    <% } %>
</ul>