<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel"><%= data.device ? data.device.name : '' %></h4>
            </div>
            <div class="modal-body">
                <form role="form">
                    <input type="hidden" name="widget_device_id" id="widget_device_id" value="<%= data.id %>" />
                    <input type="hidden" name="device_id" id="device_id" value="<%= data.device.id %>" />
                    <div class="form-group">
                        <label for="room">Room</label>
                        <select id="room" name="room" class="selectpicker form-control" onchange="deviceChangeParams(this)">
                            <option value="0" <% if(data.room && !data.room.id) { %>selected="selected"<% } %>>-None-</option>
                            <% for(i in rooms) { %>
                                <option value="<%= rooms[i].id %>" <% if(data.room && data.room.id == rooms[i].id) { %>selected="selected"<% } %>><%= rooms[i].name %></option>
                            <% } %>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="widget">Widget</label>
                        <select id="widget" name="widget" class="selectpicker form-control" onchange="deviceChangeParams(this)">
                            <option value="0" <% if(data.widget && !data.widget.id) { %>selected="selected"<% } %>>-None-</option>
                            <% for(i in widgets) { %>
                                <option value="<%= widgets[i].id %>" <% if(data.widget && data.widget.id == widgets[i].id) { %>selected="selected"<% } %>><%= widgets[i].name %></option>
                            <% } %>
                        </select>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" onchange="deviceChangeParams(this)" id="dashboard" name="dashboard" <% if(data.dashboard) { %>checked="checked"<% } %>>
                            Dashboard
                        </label>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
deviceChangeParams = function (obj) {
    var form = $(obj).parents('form');
    var data = {
        id: $('#widget_device_id', form).val(),
        device_id: form.find('#device_id').val(),
        room_id: $('#room', form).val(),
        widget_id: $('#widget', form).val(),
        dashboard: $('#dashboard', form).is(':checked') ? 1 : 0,
    }

    socket.emit('set_widget_device', data, function (widget_device) {
        form.find('#widget_device_id').val(widget_device.id);
        form.find('#device_id').val(widget_device.device_id);
    });
}
</script>