<h1>Devices</h1>
<table class="table table-hover">
    <% for(i in devices) { %>
        <tr>
            <td><%= devices[i].name %></td>
            <td>
                <button class="btn btn-default btn-sm pull-right" onclick="deviceSetParams(<%= devices[i].id %>)">
                    <span class="glyphicon glyphicon-edit"></span>
                </button>
            </td>
        </tr>
    <% } %>
</table>

<div id="settings_device_popup"></div>

<script type="text/javascript">
deviceSetParams = function (id) {
    socket.emit('get_widget_device', {device_id: id}, function (data) {
        if (!data) {
            socket.emit('get_device_data', {id: id}, function (device) {
                var data = {};
                data.device = device;
                console.log();
                data.id = 0;
                data.dashboard = 0;
                data.widget = {id: 0};
                data.room = {id: 0};
                socket.emit('get_all_rooms', {}, function (rooms) {
                    socket.emit('get_all_widgets', {}, function (widgets) {
                        $('#settings_device_popup').html(new EJS({url: '/templates/settings/device_params.ejs'}).render({'data': data, 'rooms': rooms, 'widgets': widgets}));
                        $('#settings_device_popup').find('.modal').eq(0).modal();
                    });
                });
            });
        } else {
            socket.emit('get_all_rooms', {}, function (rooms) {
                socket.emit('get_all_widgets', {}, function (widgets) {
                    $('#settings_device_popup').html(new EJS({url: '/templates/settings/device_params.ejs'}).render({'data': data, 'rooms': rooms, 'widgets': widgets}));
                    $('#settings_device_popup').find('.modal').eq(0).modal();
                });
            });
        }
    });
}
</script>