<h1>Rooms</h1>
<table class="table table-hover">
    <% for(i in rooms) { %>
        <tr>
            <td><%= rooms[i].name %></td>
            <td>
                <button class="btn btn-default btn-sm pull-right" onclick="roomSetParams('<%= rooms[i].id %>')">
                    <span class="glyphicon glyphicon-edit"></span>
                </button>
                <button class="btn btn-default btn-sm pull-right" onclick="roomRemove('<%= rooms[i].id %>')">
                    <span class="glyphicon glyphicon-trash"></span>
                </button>
            </td>
        </tr>
    <% } %>
    <tr id="add_room_line">
        <td><input type="text" id="new_room_name" class="form-control" name="name" placeholder="Enter room name"></td>
        <td>
            <button class="btn btn-default btn-sm pull-right" onclick="roomAdd(this)" form="add_room_line">
                <span class="glyphicon glyphicon-plus"></span>
            </button>
        </td>
    </tr>
</table>

<div id="settings_room_popup"></div>

<script type="text/javascript">
roomSetParams = function (id) {
    socket.emit('get_room_data', {id: id}, function (data) {
        $('#settings_room_popup').html(new EJS({url: '/templates/settings/room_params.ejs'}).render({'room': data}));
        $('#settings_room_popup').find('.modal').eq(0).modal();
    });
}
roomRemove = function (id) {
    socket.emit('remove_room', {id: id}, function (data) {
        Controllers['settings'].run();
    });
}
roomAdd = function (obj) {
    var name = $(obj).parents('tr').find('input#new_room_name').val();
    if (name != '') {
        socket.emit('add_room', {name: name}, function (data) {
            Controllers['settings'].run();
        });
    }
}
</script>