<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel"><%= room.name %></h4>
            </div>
            <div class="modal-body">
                <form role="form">
                    <input type="hidden" name="room_id" id="room_id" value="<%= room.id %>" />
                    <input type="text" id="new_room_name" class="form-control" name="name" value="<%= room.name %>" placeholder="Enter new room name" onchange="roomNameChange(this)">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
roomNameChange = function (obj) {
    var form = $(obj).parents('form');
    var data = {
        id: $('#room_id', form).val(),
        name: $('#new_room_name', form).val(),
    }

    socket.emit('update_room', data, function (room) {
        form.find('#room_id').val(room.id);
        form.find('#name').val(room.name);
    });
}
</script>