<h1>Scenarios</h1>
<table class="table table-hover">
    <% for(i in scenarios) { %>
        <tr>
            <td><%= scenarios[i].name %></td>
            <td>
                <button class="btn btn-default btn-sm pull-right" onclick="scenarioSetParams(<%= scenarios[i].id %>)">
                    <span class="glyphicon glyphicon-edit"></span>
                </button>
                <button class="btn btn-default btn-sm pull-right" onclick="scenarioRemove(<%= scenarios[i].id %>)">
                    <span class="glyphicon glyphicon-trash"></span>
                </button>
            </td>
        </tr>
    <% } %>
    <tr id="add_scenario_line">
        <td><input type="text" id="new_scenario_name" class="form-control" name="name" placeholder="Enter scenario name"></td>
        <td>
            <button class="btn btn-default btn-sm pull-right" onclick="scenarioAdd(this)" form="add_scenario_line">
                <span class="glyphicon glyphicon-plus"></span>
            </button>
        </td>
    </tr>
</table>

<div id="settings_scenario_popup"></div>

<script type="text/javascript">
scenarioSetParams = function (id) {
    socket.emit('get_scenario_data', {id: id}, function (data) {
        $('#settings_scenario_popup').html(new EJS({url: '/templates/settings/scenario_params.ejs'}).render({'scenario': data}));
        $('#settings_scenario_popup').find('.modal').eq(0).modal();
    });
}
scenarioRemove = function (id) {
    socket.emit('remove_scenario', {id: id}, function (data) {
        Controllers['settings'].run();
    });
}
scenarioAdd = function (obj) {
    var name = $(obj).parents('tr').find('input#new_scenario_name').val();
    if (name != '') {
        socket.emit('add_scenario', {name: name}, function (data) {
            Controllers['settings'].run();
        });
    }
}
</script>