<h1>Widgets</h1>
<table class="table table-hover">
    <% for(i in widgets) { %>
        <tr>
            <td><%= widgets[i].name %></td>
            <td>
                <button class="btn btn-default btn-sm pull-right" onclick="widgetSetParams(<%= widgets[i].id %>)">
                    <span class="glyphicon glyphicon-edit"></span>
                </button>
            </td>
        </tr>
    <% } %>
</table>

<div id="settings_widget_popup"></div>

<script type="text/javascript">
widgetSetParams = function (id) {
    socket.emit('get_widget_data', {id: id}, function (data) {
        $('#settings_widget_popup').html(new EJS({url: '/templates/settings/widget_params.ejs'}).render({'widget': data}));
        $('#settings_widget_popup').find('.modal').eq(0).modal();
    });
}
</script>