.for-on {
    display: none;
}
.widget-on .for-on {
    display: block;
}
.widget-on .for-off {
    display: none;
}
.block {
    border: 1px solid #eee;
    border-radius: 15px;
    float: left;
    margin: 5px;
    padding: 10px;
    text-align: center;
}
.block_130 {
    width: 130px;
    height: 130px;
}

.device-block:hover {
    cursor: default;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.device-active:hover {
    cursor: pointer;
    background: #eee;
}
