<div class="block block_130 widget-pir" id="widget-pir-device-<%= data.device.id %>">
    <h1><%= data.device.state %></h1>
</div>

<script type="text/javascript">
(function ($) {

    var instruments = ["acoustic_grand_piano", "acoustic_bass", "accordion" ];
    var device_id = '<%= data.device.id %>';
    var device_num = '<%= data.device.device_num %>';

    MIDI.loadPlugin({
        soundfontUrl: "/js/MIDI.js/soundfont2/",
        instruments: instruments,
        callback: function() {
            var _this = this;
            MIDI.programChange(device_num, MIDI.GeneralMIDI.byName[instruments[device_num-1]].number);

            var velocity = 127; // how hard the note hits
            // play the note
            MIDI.setVolume(device_num, 127);
            MIDI.noteOn(device_num, 50, 127, 0);
            MIDI.noteOff(device_num, 50, 0.75);

            var obj = $('#widget-pir-device-<%= data.device.id %>');

            var changeState = function (data) {
                if (data.id == device_id && obj.is(':visible')) {
                    MIDI.noteOn(device_num, data.state, 127, 0);
                    MIDI.noteOff(device_num, parseInt(obj.find('h1').text()), 0.35);

                    obj.find('h1').text(data.state);
                }
            }

            socket.on('change_device_data', changeState);

            var SonarVerify = function () {
                if (obj.is(':visible')) {
                    socket.emit('get_device_data', {id: '<%= data.device.id %>'}, changeState);
                }
            }

            SonarVerify();
            addEventInterval('widget-pir-device-<%= data.device.id %>', SonarVerify, 5000);
        }
    });
})($);
</script>