<div class="block block_130 widget-light" id="widget-light-device-<%= data.device.id %>">
    <div class="for-on">
        <img src="/templates/widgets/Light/images/lamp_on.jpg" height="110" />
    </div>
    <div class="for-off">
        <img src="/templates/widgets/Light/images/lamp_off.jpg" height="110" />
    </div>
</div>

<script type="text/javascript">
(function ($) {
    var device_id = '<%= data.device.id %>';
    var LightState = '<%= data.device.state %>';
    var obj = $('#widget-light-device-<%= data.device.id %>');

    $('#widget-light-device-<%= data.device.id %>').click(function () {
        var state = LightState ? 0 : 1;
        socket.emit('set_device_data', {id: '<%= data.device.id %>', state: state}, changeState);
    });

    var changeState = function (data) {
        if (data.id == device_id && obj.is(':visible')) {
            LightState = data && data.state ? 1 : 0;
            if (LightState) {
                obj.addClass('widget-on');
            } else{
                obj.removeClass('widget-on');
            }
        }
    }

    socket.on('change_device_data', changeState);

    var LightVerify = function () {
        if (obj.is(':visible')) {
            socket.emit('get_device_data', {id: '<%= data.device.id %>'}, changeState);
        }
    }

    LightVerify();
    addEventInterval('widget-light-device-<%= data.device.id %>', LightVerify, 5000);
})($);
</script>