<div class="block block_130 widget-pir" id="widget-pir-device-<%= data.device.id %>">
    <div class="for-on">
        <img src="/templates/widgets/Pir/images/icon.png" width="110" />
    </div>
</div>

<script type="text/javascript">
(function ($) {
    var device_id = '<%= data.device.id %>';
    var obj = $('#widget-pir-device-<%= data.device.id %>');
    obj.addClass('widget-on');

    var changeState = function (data) {
        if (data.id == device_id && obj.is(':visible')) {
            LightState = data && data.state ? 1 : 0;
            if (LightState) {
                obj.css('opacity', 1);
            } else{
                obj.css('opacity', 0.3);
            }
        }
    }

    socket.on('change_device_data', changeState);

    var PirVerify = function () {
        if (obj.is(':visible')) {
            socket.emit('get_device_data', {id: '<%= data.device.id %>'}, changeState);
        }
    }

    PirVerify();
    addEventInterval('widget-pir-device-<%= data.device.id %>', PirVerify, 5000);
})($);
</script>