<ul class="nav nav-pills nav-stacked">
    <% for(i in rooms) { %>
        <li <% if (rooms[i].id == room_active) { %>class="active"<% } %>>
            <%= link_to(rooms[i].name, '#rooms/' + rooms[i].id + '/details') %>
        </li>
    <% } %>
</ul>