<ul class="nav nav-pills nav-stacked">
    <% for(id in settings) { %>
        <li <% if (setting_active == id) { %>class="active"<% } %>>
            <%= link_to(settings[id], '#settings/' + id) %>
        </li>
    <% } %>
</ul>